.property{
    position: relative;
    z-index: 9;
    height:400px; 
}
.property img{
    max-width: 100%;
    height:100%;
}
.property:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    opacity: 0.9;
}
.propertyContent{
    z-index: 12;
    position: absolute;
    left: 50%;
    top:50%;
    color:#fff;
    font-size: 30px;
    font-weight:bold;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
}
.searchProperty{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap:5px;
    place-items: center;
    justify-content: center;
    place-content: center;
}

.searchProperty input{
    width:100%;
    display: flex;
    align-items: center;
    margin-left: 50px !important;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding:15px;
    grid-column: span 2 / span 2;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.searchProperty select{
    width:300px;
    margin: auto;
    border:1px solid #ddd;
    padding:15px;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
}
.search{
    position: absolute;
    right: 420px;
    top: 15px;
    font-size: 24px;
}

.wrapProperty{
    display: flex;
    align-items: center;
    justify-content: center;
}
.singleProperty{
    display: flex;
}
.leftSide{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap:20px;
}
.propertyCard{
    width:400px;
    margin: auto;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 15px;
}
.propertyCard img{
    max-width: 100%;
}
.peroperyCardContent{
    display: flex;
    justify-content: space-between;
}
.singleContent{
    display: flex;
    
}
.singleContent span{
    margin-right: 15px;
}
.propertySpace{
    width: 90%;
    padding:15px;
    display: flex;
    border: 1px solid #ddd;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
.propertySpace span{
    margin-right: 15px;
}
.reviews img{
    width:50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.reviews{
    display: flex;
    justify-content: space-around;
    
}
.viewDetails{
    display: flex;
}
.viewDetails span{
    margin-right: 5px;
}
.viewDetails FaArrowRight{
    font-size: 8px !important;
}
.propertyCard img{
    position: relative;
    transition: transform .3s;
    overflow: hidden !important;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
}
.propertyCard img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


.propertyPrice{
    display: flex;
    justify-content: space-between !important;
    position: absolute;
    bottom: -320px;
    display: none;
    
}
.propertyCardImgIcons{
    position: relative;
}
.propertyCardImgIcons:hover .propertyIcons{
    display: block;
    
}
.propertyIcons{
   position: absolute;
   top:20px;
   right: 10px;
   z-index: 10;
   display: none;
   transition:transform .3s;
   -webkit-transition:transform .3s;
   -moz-transition:transform .3s;
   -ms-transition:transform .3s;
   -o-transition:transform .3s;
}
.propertyIcons li a{
    display: block;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    background: #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition:transform .3s !important;
    -webkit-transition:transform .3s !important;
    -moz-transition:transform .3s !important;
    -ms-transition:transform .3s !important;
    -o-transition:transform .3s !important;
}
.propertyIcons li a:hover{
    background: #FF8C35;
    color: #fff;
}

.rightSide{
    width:370px;
    background:#004274;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    align-items: center;
    justify-content: center;
    
}
.rightSide select, .keyword{
    width: 330px;
    background:#102637;
    color:#fff;
    padding: 12px 5px;
    display: block;
    margin-bottom: 18px;
}


.rightSideCheck label{
    color:white !important;
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

@media only screen and (max-width:1024px){
    .leftSide{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap:20px;
    }
    .propertyPrice{ 
        bottom: -480px; 
    }

}

@media only screen and (max-width:768px){
    .property{
        height:300px; 
    }
    .leftSide{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap:20px;
    }
    .searchProperty{
        display: block;
        text-align: center;
        margin: 20px;
    }
    .searchProperty input{
        width:100%;
        align-items: center;
        margin-left: 0px !important;
       
    }
    .searchProperty select{
        width:100%;
        margin: auto;
        border:1px solid #ddd;
        padding:15px;
        border-radius:15px;
        -webkit-border-radius:15px;
        -moz-border-radius:15px;
        -ms-border-radius:15px;
        -o-border-radius:15px;
        margin-top: 20px;
    }
    .search{
        right:33px;
    }
    
    .propertyCard{
        width:350px;
      
    }
    .propertyPrice{ 
        bottom: -110px; 
    }
    .singleProperty{
        display:block;
    }
  
    .singleProperty{
        margin-left: 0px;
    }
    .propertyIcons{
        position: absolute;
        bottom: -200px;
        left: 285px;
    }
    

}

@media only screen and (max-width:500px){
    .leftSide{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
   
    }
    .propertyPrice{ 
        bottom: -22px; 
    }
    .peroperyCardContent {
        display: block;
        margin-left:0px;
        
    }
    .reviews {
        display: block;
       margin-left: 0px;
    }
    .propertySpace {
        width: 100%;
        padding: 15px 5px;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        align-items: center;
        bottom: -30px;
    }
 
    .propertyIcons{
        position: absolute;
        bottom: -200px !important;
        left: 270px;
    }
    .searchWrap{
    flex-wrap: wrap;
        align-items: center;
        align-items: center;
        justify-content: center;
    }
  
}
@media only screen and (max-width:300px){

    .propertyPrice{ 
        bottom: -35px !important; 
        z-index: 99;
        left:10px;
        display: none;
    }
    .peroperyCardContent {
        display: block;
        margin-left:0px;
        
    }
    .peroperyCardContent h2{
        margin-left: 30px;
        text-align: center;
    }
    .headlineSingleContent{
        margin-left: 0px;
    }
    .propertySpace {
        width: 77%;
        padding: 15px 5px;

    }
 
    .reviews {
        display: block;
       margin-left: 0px;
    }
    .rightSide select, .keyword {
        width: 100%;
        background: #102637;
        color: #fff;
        padding: 12px 5px;
        display: block;
        margin-bottom: 18px;
    }
    .propertyIcons{
        left: 220px;
    }
}